!!!
%html
  %head
    %title= "What Foods Are In Season In #{states[@state]}?"
    %link{:rel => 'stylesheet', :href => '/stylesheets/inseason.css', :type => 'text/css'}
    %script{:src => 'javascripts/jquery-1.8.2.min.js'}
    %script{:src => 'javascripts/inseason.js'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35980087-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %a{:href => 'https://github.com/joeyschoblaska/inseason'}
      %img{:style => 'position: absolute; top: 0; right: 0; border: 0;', :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub"}
    .container
      .header-image
        %img{:src => "images/headers/#{@state}.png"}
      .controls
        %form#controls
          %input.search{:type => 'text', :placeholder => 'search'}
          %select.state-selector
            - states.keys.each do |state|
              %option{:selected => state == @state ? 'selected' : nil}= state.upcase

    - unless @year_round.empty?
      %table.year-round
        %tbody
          %tr{'data-crop' => @year_round.map{|yr| yr.name}.join(', ')}
            %td.name YEAR-ROUND:
            %td.bar= @year_round.map{|yr| yr.name}.join(', ')

    = partial :crop_table, :locals => {:crops => @in_season}
    = partial :crop_table, :locals => {:crops => @out_of_season}

    .footer-container
      .footer
        %img.headshot{:src => 'images/headshot.png'}
        %p= "This app was written by me, Joey Schoblaska. You can check out some of the other things I'm working on by visiting my <a href='http://joeyschoblaska.com'>website</a> or my <a href='http://github.com/joeyschoblaska'>github profile</a>. You can also follow me on twitter at <a href='http://twitter.com/joeyschoblaska'>@joeyschoblaska</a>."
        %p= "Thanks to <a href='http://localfoods.about.com/od/searchbystate/State_Seasonal_Produce_Guides.htm'>about.com</a> for the original dataset."
        %p.clear
