!!!
%html
  %head
    %title= "What Foods Are In Season In #{states[@state]}?"
    %link{:rel => 'stylesheet', :href => '/stylesheets/inseason.css', :type => 'text/css'}
    %script{:src => 'javascripts/jquery-1.8.2.min.js'}
    %script{:src => 'javascripts/inseason.js'}
  %body
    %a{:href => 'https://github.com/joeyschoblaska/inseason'}
      %img{:style => 'position: absolute; top: 0; right: 0; border: 0;', :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub"}
    .container
      .header-image
        %img{:src => "images/headers/#{@state}.png"}
      .controls
        %form#controls
          %input.search{:type => 'text', :placeholder => 'search'}
          %select.state-selector
            - states.keys.each do |state|
              %option{:selected => state == @state ? 'selected' : nil}= state.upcase
    %table
      %tbody
        - unless @year_round.empty?
          %tr.in-season
            %td.name YEAR-ROUND:
            %td.bar.year-round= @year_round.map{|yr| yr.name}.join(', ')
        - (@crops - @year_round).each do |crop|
          %tr
            %td.name= crop.name
            %td.bar{:style => 'position: relative'}
              = current_line
              .season-bar
                %img{:src => 'images/month-bars.png', :class => 'month-bars'}
                = season_bars(crop)
